* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720) {
    font-size: 87.5%; 
  }
}

a {
  text-decoration: none;
  color: #333;
}

body {
  background: #ebecec;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

[disbbled] {
  opacity: 0.6;
  cursor: not-allowed;
}